@import "reset.css";

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8eeee;
}

button {
  background-color: #eb4559;
  width: 80px;
  height: 20px;
  border: none;
  border-radius: 10px;
  color: white;
}

button:hover {
  box-shadow: 0 0 5px 2px #f783593d;
  transform: scale(0.95);
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #f7835969;
}

label {
  font-size: 12px;
  font-weight: 600;
}

input:focus {
  outline: none;
}

.modal_area {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.modal_area.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 20px;
}

.modal_contents {
  color: #f78259;
  font-size: 50px;
  font-weight: 600;
}

.clock_area {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date_span {
  color: #aeefec;
  font-size: 50px;
  font-weight: 600;
}

.time_span {
  color: #f78259;
  font-size: 100px;
  font-weight: 600;
}

.mode_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: white;
  border-radius: 10px;
}

.mode_btn_area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30px;
  border-bottom: 2px solid #f8eeee;
}

.mode_form_area {
  width: 100%;
}

.mode_form_area form {
  display: none;
  margin: 10px;
}

.mode_form_area form.checked {
  display: flex;
  justify-content: space-around;
}

.mode_form_area form input {
  margin: 10px;
}
.mode_form_area form button {
  margin: 10px;
}

.mode_stopwatch_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mode_contents_area {
  width: 100%;
  margin: 10px 5px;
}

.mode_timer_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stopwatch_button_area {
  display: flex;
  justify-content: space-around;
}

.timer_input_area {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.timer_input_area.started {
  display: none;
}

.laptime_area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #eb4559;
  width: 100%;
  height: 150px;
  overflow-x: auto;
}

.laptime_li {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin: 3px 0px;
}
